@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 style="color:Darkblue;">Welcome to SportClub!</h1>
        <p>This website is aimed at anyone interested in training.</p>
        <img src="https://gfitness.ee/uploads/750x424/Baltic%20Pictures-10185.jpg">
    </div>
