@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 style="color:Darkblue;">Welcome to SportClub!</h1>
        <p>This website is aimed at anyone interested in training.</p>
    </div>
