@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We care about the safety of our customers. We ensure that your personal data is not passed on to third parties.</p>
<p>If you have any further questions about our site's privacy feel free to contact our staff at +37252588000.</p>
