@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Participant.Pages.Participants.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Age)
    @Html.EditControlsFor(m => m.Item.Address)
</body>
