@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Participant.Pages.Participants.DeleteModel


@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Age)
    @Html.DisplayControlsFor(m => m.Item.Address)
</body>