@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Participant.Pages.Participants.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Age)
    @Html.EditControlsFor(m => m.Item.Address)
</body>
