@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(m => m.Item.Id)
        @Html.EditControlsForDropDown(m => m.Item.ParticipantId, Model.ParticipantId)
        @Html.EditControlsForDropDown(m => m.Item.TrainingId, Model.TrainingId)
    </body>
