@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(m => m.Item.ParticipantId)
        @Html.EditControlsFor(m => m.Item.TrainingId)
        @Html.EditControlsFor(m => m.Item.Id)
        @Html.EditControlsFor(m => m.Item.Name)
    </body>
