@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParticipantOfTrainingData</h4>
    <hr />
    <dl class="row">
        @Html.DisplayControlsFor(model => model.ParticipantOfTrainingData.Id)
        @Html.DisplayControlsFor(model => model.ParticipantOfTrainingData.Name)
        @Html.DisplayControlsFor(model => model.ParticipantOfTrainingData.ParticipantId)
        @Html.DisplayControlsFor(model => model.ParticipantOfTrainingData.TrainingId)
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ParticipantOfTrainingData.TrainingId" />
        <input type="hidden" asp-for="ParticipantOfTrainingData.ParticipantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
