@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.ParticipantId, Model.GetParticipantName(Model.Item.ParticipantId))
    @Html.DisplayControlsFor(m => m.Item.TrainingId)
</body>
