@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.DetailsModel

@{
    Layout = "_Details";

}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.ParticipantId)
    @Html.DisplayControlsFor(m => m.Item.TrainingId)
</body>

@section Details
{

}

