@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="Item.ParticipantId" />
        <input type="hidden" asp-for="Item.TrainingId" />
        @Html.DisabledControlsFor(m => m.Item.ParticipantId)
        @Html.DisabledControlsFor(m => m.Item.TrainingId)
        @Html.EditControlsFor(m => m.Item.Id)
        @Html.EditControlsFor(m => m.Item.Name)
    </body>

