@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.ParticipantOfTraining.Pages.ParticipantOfTrainings.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;

}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}


<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.ParticipantId), Model.GetSortString(m => m.ParticipantId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.TrainingId), Model.GetSortString(m => m.TrainingId, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {

                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Id),
                        Html.DisplayFor(modelItem => item.ParticipantId),
                        Html.DisplayFor(modelItem => item.TrainingId)
                        )
                </tr>
            }
        </tbody>
    </table>
</body>