@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.TrainingType.Pages.TrainingTypes.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Type)
    @Html.EditControlsFor(m => m.Item.Definition)
</body>
