@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.TrainingType.Pages.TrainingTypes.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Type)
    @Html.DisplayControlsFor(m => m.Item.Definition)
</body>

