@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.TrainingType.Pages.TrainingTypes.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.Type)
    @Html.EditControlsFor(m => m.Item.Definition)
</body>
