@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.CreateModel

@{
    Layout ="_Create";
}
<body>
@Html.EditControlsForDropDown(m => m.Item.TrainingId, Model.TrainingId)
@Html.EditControlsForDropDown(m => m.Item.CoachId, Model.Ids)
@Html.EditControlsFor(x => x.Item.Id)
@Html.EditControlsFor(x => x.Item.Name)
</body>