@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.CreateModel

@{
    Layout ="_Create";
}
    <body>
        @Html.EditControlsForDropDown(m => m.Item.CoachId, Model.CoachId)
        @Html.EditControlsForDropDown(m => m.Item.TrainingId, Model.TrainingId)
        @Html.EditControlsForDropDown(x => x.Item.Id, Model.Ids)
    </body>