@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.CreateModel

@{
    Layout ="_Create";
}
<body>
@Html.EditControlsFor(m => m.Item.TrainingId)
@Html.EditControlsFor(m => m.Item.CoachId)
@Html.EditControlsForDropDown(x => x.Item.Id, Model.Ids)
@Html.EditControlsForDropDown(x => x.Item.Name, Model.CoachName)
</body>