@page
@using SportClub.Data.Coach
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.CreateModel

@{
    Layout ="_Create";
    var collections = ViewData["sample"] as SelectList;
}

    <body>
        @Html.EditControlsForDropDown(m => m.Item.CoachId, Model.CoachId)
        @Html.EditControlsForDropDown(m => m.Item.TrainingId, Model.TrainingId)
        @Html.DropDownList("name", new SelectList(collections, "Value", "Text"));
        @* @Html.EditControlsForDropDown(m => m.Item.Id, Model.Ids)*@
    </body>