@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(model => model.Item.Id)
    @Html.DisplayControlsFor(model => model.Item.CoachId)
    @Html.DisplayControlsFor(model => model.Item.TrainingId)
</body>
