@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.CoachId, Model.GetCoachName(Model.Item.CoachId))
    @Html.DisplayControlsFor(m => m.Item.TrainingId)
</body>
