@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.DetailsModel

@{
    Layout = "_Details";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.CoachId, Model.GetCoachName(Model.Item.CoachId))
    @Html.DisplayControlsFor(m => m.Item.TrainingId)
</body>

@section Details {}
