@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.CoachOfTraining.Pages.CoachOfTrainings.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.CoachId)
    @Html.DisabledControlsFor(m => m.Item.TrainingId)
</body>
