@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Coach.Pages.Coaches.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.Name)
</body>