@page
@using SportClub.Aids
@using SportClub.Data.CoachOfTraining
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Coach.Pages.Coaches.DetailsModel

@{
    Layout = "_Details";
    const string coachesOfTraining = "/CoachOfTraining/CoachOfTrainings";
    var coachId = GetMember.Name<CoachOfTrainingData>(x => x.CoachId);
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.Name)
</body>

@section Details
{
    @Html.HypertextLinkFor(string.Empty, new Link("Show coaches trainings",
        $"{coachesOfTraining}/Index?fixedFilter={coachId}&fixedValue={Model.Item.Name}"))
}
