@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Coach.Pages.Coaches.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
</body>