@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Coach.Pages.Coaches.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.EditControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.Name)
</body>